/* BASIC CSS */

#sasia-fcid-%%FCID%% {
    width: 100%;
    max-width: 480px;
    height: auto;
    object-fit: contain;
}


/* SPECIFIC CSS */

.prg_base__width {
    width: 100% !important;
    max-width: 480px !important;
    height: auto !important;
}

.prg_calc__0 {
    width: calc(100% + 0px) !important;
}

.prg_calc__20 {
    width: calc(100% + 20px) !important;
}

.prg_calc__24 {
    width: calc(100% + 24px) !important;
}

.prg_calc__30 {
    width: calc(100% + 30px) !important;
}

.prg_calc__40 {
    width: calc(100% + 40px) !important;
}

.prg_calc__90 {
    width: calc(100% + 90px) !important;
}

.prg_mB__10 {
    margin-bottom: 10px !important;
}

.prg_mB__20 {
    margin-bottom: 20px !important;
}

.prg_mL__0 {
    margin-left: 0px !important;
}

.prg_mL__10 {
    margin-left: -10px !important;
}

.prg_mL__12 {
    margin-left: -12px !important;
}

.prg_mL__15 {
    margin-left: -15px !important;
}

.prg_mL__20 {
    margin-left: -20px !important;
}

.prg_mL__45 {
    margin-left: -45px !important;
}

.prg_mLR__0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.prg_mLR__8 {
    margin-left: -8px !important;
    margin-right: -8px !important;
}

.prg_mLR__15 {
    margin-left: -15px !important;
    margin-right: -15px !important;
}