<link rel="stylesheet" type="text/css" href="PROTO_prg-premium-square.css">

<div id="proto_prg-premium-square-%%FCID%%">
    <a href="foo" target="_blank">
        <img src="bar" %%ISMAP%% id="sasia-fcid-%%FCID%%" class=" _sasia_fcid" data-sasia-view-time="%%VIEWABILITYTIME%%" data-sasia-view-percent="%%VIEWABILITYPERCENT%%" data-sasia-view-url="%%VIEWABILITYURL%%">
    </a>
</div>

<script src="PROTO_prg-premium-square.js"></script>